{% extends 'base.html.twig' %}

{% block title %}Bienvenue au Quai Antique
{% endblock %}
{% block body %}

	<div class="container">
		<div class="image-home">
			<h1>Quai Antique</h1>
		</div>
		<div class="accueil">
			<h1>Bienvenue</h1>

		</div>
		<p>voici nos meilleurs plats du moment</p>
		{% for galery in galerys %}
			<div class="galeries">
				<img src="{{ vich_uploader_asset(galery,'imageFile') }}" alt="{{ galery.name }}" class="galeries-img">
			</div>
		{% endfor %}
		<div></div>


	</div>
{% endblock %}
