{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
	<h1>Réservations du jour</h1>

	{% if reservations is empty %}
		<p>Aucune réservation pour aujourd'hui.</p>
	{% else %}
		<div class="table-responsive">
			<table class="table datagrid">
				<thead>
					<tr>
						<th class="  header-for-field-text text-">Email</th>
						<th class="  header-for-field-text text-">Nombre de personnes</th>
						<th class="  header-for-field-text text-">Heure</th>
						<th class="  header-for-field-text text-">Allergies</th>
					</tr>
				</thead>
				<tbody>
					{% for reservation in reservations %}
						<tr>
							<td class=" text- field-text">{{ reservation.email }}</td>
							<td class=" text- field-text">{{ reservation.guests }}</td>
							<td class=" text- field-text">{{ reservation.hour }}</td>
							<td class=" text- field-text">
								{% if reservation.allergies is empty %}
									<ul>
										<li>Aucune allergie</li>
									</ul>
								{% else %}
									<ul>
										{% for allergy in reservation.allergies %}
											<li>{{ allergy.name }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</td>
						</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
{% endblock %}
