{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité
{% endblock %}

{% block body %}
	<div class="container">
		<div class="container-bis">
			<h1>Politique de Confidentialité</h1>
			<p>
				Le respect de votre vie privée est important pour nous. Dans le cadre de notre site internet dédié au restaurant, nous collectons certaines informations personnelles pour vous offrir une expérience utilisateur optimale. Veuillez lire attentivement cette politique de confidentialité pour comprendre comment nous recueillons, utilisons, protégeons et partageons vos informations personnelles.
			</p>
			<h2>Informations collectées</h2>
			<p>
				Lorsque vous utilisez notre site internet, nous pouvons collecter les informations suivantes :
				<ul class="list">
					<li>Votre nom</li>
					<li>Votre adresse e-mail</li>
					<li>Votre numéro de téléphone</li>
					<li>Votre adresse IP</li>
					<li>Des données de localisation</li>
					<li>Des informations de connexion</li>
				</ul>
			</p>
			<h2>Utilisation des informations</h2>
			<p>
				Nous utilisons les informations collectées pour les finalités suivantes :
				<ul class="list">
					<li>Fournir et améliorer nos services</li>
					<li>Communiquer avec vous</li>
					<li>Répondre à vos demandes</li>
					<li>Personnaliser votre expérience utilisateur</li>
					<li>Prévenir les fraudes et assurer la sécurité de notre site internet</li>
				</ul>
			</p>
			<h2>Partage des informations</h2>
			<p>
				Nous ne partageons pas vos informations personnelles avec des tiers, sauf dans les situations suivantes :
				<ul class="list">
					<li>Si cela est nécessaire pour fournir les services que vous avez demandés</li>
					<li>Pour se conformer à une obligation légale ou réglementaire</li>
					<li>Pour protéger nos droits, nos biens ou notre sécurité, ainsi que ceux de nos utilisateurs ou du public</li>
					<li>En cas de fusion, d'acquisition, de vente d'actifs ou de restructuration de notre entreprise</li>
				</ul>
			</p>
			<h2>Cookies</h2>
			<p>
				Nous utilisons des cookies pour améliorer votre expérience utilisateur sur notre site internet. Vous pouvez configurer votre navigateur pour refuser les cookies, mais cela peut affecter certaines fonctionnalités de notre site.
			</p>
			<h2>Conservation des informations</h2>
			<p>
				Nous conservons vos informations personnelles aussi longtemps que nécessaire pour atteindre les finalités pour lesquelles elles ont été collectées, sauf si la loi nous oblige à les conserver plus longtemps.
			</p>
			<h2>Vos droits</h2>
			<p>
				Vous avez le droit d'accéder, de rectifier, de supprimer ou de limiter l'utilisation de vos informations personnelles. Vous pouvez également vous opposer au traitement de vos informations personnelles ou demander leur transfert à un autre responsable du traitement. Pour exercer vos droits, veuillez nous contacter à
				<a href="mailto:admin@quaiantique.fr">admin@quaiantique.fr</a>.
			</p>
			<h2>Sécurité</h2>
			<p>
				Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, toute utilisation abusive, toute divulgation non autorisée ou toute altération. Cependant, veuillez noter qu'aucune méthode de transmission de données sur Internet n'est totalement sécurisée et nous ne pouvons garantir la sécurité absolue de vos informations.
			</p>
			<h2>Modifications de la politique de confidentialité</h2>
			<p>
				Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur notre site internet et vous serez informé(e) des changements importants par e-mail ou via un avis sur notre site. Veuillez consulter régulièrement cette politique de confidentialité pour rester informé(e) de nos pratiques en matière de confidentialité.
			</p>
			<h2>Contact</h2>
			<p>
				Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, veuillez nous contacter à l'adresse suivante :
				<a href="mailto:admin@quaiantique.fr">admin@quaiantique.fr</a>.
			</p>
		</div>
	</div>
{% endblock %}
