@import "./config/config";
@import "./cdn/selector";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  font-size: 12px;
}

h1,
h2,
h3,
thead {
  font-family: $font1;
  padding: 1% 0 1% 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1,
thead {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}

h1,
h2,
h3 {
  display: flex;
}

p,
tbody,
label,
input,
select {
  font-family: $font2;
  font-size: 1.5em;
}

ul {
  max-height: 40vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center;
  width: 100vw;
  a {
    font-size: 1.5em;
  }
}

a {
  font-family: $font2;
  color: white;
  outline: none;
  font-weight: 500;
  text-decoration: none;
}

button {
  min-width: 5vw;
  margin: 5%;
  padding: 3%;
  background-color: $color2;
  color: white;
  font-size: 2em;
  border: none;
  border-radius: 25px;
  text-shadow: 3px 2px 8px $color1;
  border: 2px solid transparent;
  &:hover {
    cursor: pointer;
    border: 2px solid $color4;
  }
}

nav {
  ul {
    box-sizing: border-box;
    border-bottom: 3px solid #000;
  }
  li {
    padding: 2% 0 2% 0;
  }
  a {
    color: black;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }

  a:hover {
    border-color: $color4;
  }
}
.reservation {
  a {
    color: $color4;
    font-weight: 600;
  }
}
// homepage
.container {
  min-height: 40vh;
  padding-top: 10vh;
}
.filter-active {
  filter: blur(5px);
}
.connect {
  display: flex;
  justify-content: center;
  padding: 2% 0 2% 0;
  a {
    color: $color4;
    font-size: 2em;
    border-bottom: 1px solid $color2;
  }
}

.image-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url("/public/img/restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
  }
}
// acceuil img
.accueil,
.accueil-plats {
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 2%;
}

.galeries {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  h3 {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: transparent;
    &:hover {
      color: white;
      text-shadow: -2px -4px 6px rgba(235, 162, 55, 0.79);
      backdrop-filter: blur(4px);
    }
  }
}

.galeries-img {
  padding: 2%;
  width: 80vw;
  height: auto;
}

//navbar
.navbar {
  display: flex;
  position: fixed;
  background: white;
  width: 100vw;
  height: 10vh;
  z-index: 5;
}

.nav_menu {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  label {
    width: 10vw;
  }
}
.burger {
  width: 100%;
  border-radius: 25%;
  margin: auto;
  background-color: $color4;
}
.nav_label {
  display: flex;
  height: 10vh;
  padding-right: 5vw;
  cursor: pointer;
  img {
    &:focus,
    &:hover {
      animation: wobble 2s;
    }

    @keyframes wobble {
      20% {
        transform: rotate(45deg);
      }
      40% {
        transform: rotate(-45deg);
      }
      60% {
        transform: rotate(45deg);
      }
      80% {
        transform: rotate(-45deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}

.logo {
  width: 25vw;
  img {
    padding-top: 2vh;
    padding-left: 5%;
    height: 7vh;
  }
}

#menu_toggle {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.navigation {
  background-color: white;
}
.navigation-footer {
  grid-area: nav;
  align-items: center;
  text-align: center;
  h2 {
    width: 100%;
  }
}
.navigation_none {
  display: none;
  width: 100vw;
}

//footer
.footer {
  min-height: 50vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "hour hour"
    "map map"
    "nav nav"
    "contact contact";
  gap: 20px;
  background-color: $color3;
}

.hour {
  grid-area: hour;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#map-container {
  grid-area: map;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  a {
    font-size: 1.5em;
    color: black;
  }
  iframe {
    padding-top: 2%;
  }
}
form {
  width: 90vw;
  margin: 0 auto;
  padding: 5% 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
select,
.selectAllergys {
  width: 80vw;
  cursor: pointer;
  border: 2px solid $color1;
  border-radius: 5px;
  padding: 1% 0 1% 0;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-select,
.form-group {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  label,
  input,
  select {
    margin: 1% 0 1% 0;
  }
}
.form-checkbox {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  label {
    width: 60vw;
    margin: 1% 2% 1% 0;
  }
  input {
    width: 8vw;
  }
}
.form-select:nth-of-type(4) {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category,
.formule {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.card {
  h1 {
    color: $color4;
  }
  h3 {
    color: $color3;
  }
  p {
    text-align: center;
  }
}

.profile {
  text-align: center;

  ul {
    height: auto;
  }
  table {
    width: 80vw;
    margin: 0 auto;
    border-radius: 25px;
    border-collapse: collapse;
  }
  tr {
    width: 30vw;
  }
  th,
  td {
    border: 1px solid black;
  }
  th {
    background-color: $color1;
  }
  thead {
    font-size: 2em;
  }
}
.suite {
  li {
    font-size: 1.5em;
  }
}
.contact {
  display: flex;
  grid-area: contact;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2% 0 2% 0;
  a {
    font-size: 1.5em;
    color: black;
  }
  p {
    font-size: 1em;
    padding: 2% 0 2% 0;
    text-align: center;
    color: white;
  }
}
.allergies {
  background-color: $color1;
}

.info {
  border-top: 2px solid $color3;
  width: 80vw;
  text-align: center;
  margin: auto;
  padding-top: 2%;
}

.vide {
  height: 2vh;
}
.list {
  font-size: 1.5em;
  li {
    display: block;
  }
}
.container-bis {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2%;
  a {
    color: $color1;
  }
}
.container-galery {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  p {
    width: 80%;
  }
}
.datepicker {
  padding: 0 !important;
}
.place {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hidden-noon,
#hidden-evening {
  display: none;
}
.avis,
.avis-flex {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.avis {
  h2 {
    display: inline-block;
    border-bottom: 2px solid $color2;
  }
}
.avis {
  background-color: $color5;
}
.people {
  width: 80%;
  height: auto;
  padding-bottom: 2%;
}
.stars {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .accueil,
  .accueil-plats {
    width: 60vw;
  }
  .inscription {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 0) 75%
      ),
      url("/public/img/lac.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1 {
      justify-content: flex-start;
      width: 90%;
      margin: 0 auto;
    }
  }
  .resa {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 0) 75%
      ),
      url("/public/img/plat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1 {
      justify-content: flex-start;
      width: 90%;
      margin: 0 auto;
    }
  }
  .connexion {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 0) 75%
      ),
      url("/public/img/table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1 {
      justify-content: flex-start;
      width: 90%;
      margin: 0 auto;
    }
  }
  .modification {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 0) 75%
      ),
      url("/public/img/cafe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .password {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 0) 75%
      ),
      url("/public/img/bistro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .modification .profile,
  .password .profile {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    h1 {
      justify-content: flex-start;
    }
  }

  .place {
    align-items: flex-start;
  }
  .connect {
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
  }
  form {
    padding: 0;
  }
  .form-group,
  .form-checkbox,
  .form-select {
    margin: 0;
  }

  form[name="registration_form"] .btn,
  form[name="reservation"] .btn,
  form[name="connexion"] .btn,
  form[name="edit_profile"] .btn,
  .profile .btn {
    justify-content: start;
  }
  form[name="registration_form"] button,
  form[name="reservation"] button,
  form[name="connexion"] button,
  form[name="edit_profile"] button,
  .profile button {
    margin: 1% 1% 1% 0;
  }
  input,
  select,
  .selectAllergys {
    width: 40%;
  }
  .form-checkbox {
    flex-direction: row;
    label {
      width: 25vw;
    }
    input {
      width: 5vw;
    }
  }
  .nav_menu {
    flex-wrap: nowrap;
  }
  .navbar {
    label {
      display: none;
    }
  }
  .nav_label {
    img {
      display: none;
    }
  }
  .navigation_none {
    display: flex;
  }
  nav {
    ul {
      width: 75vw;
      height: 10vh;
      background-color: transparent;
      border: none;
    }
    li {
      width: auto;
      padding-left: 2%;
    }
    a {
      color: black;
    }
  }
  .galeries-img {
    width: 65vw;
  }
  #map-container {
    iframe {
      width: 75%;
    }
  }
  .people {
    width: 65vw;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 14px;
  }
  input,
  select,
  .selectAllergys {
    width: 25%;
  }
  .form-checkbox {
    label {
      width: 15vw;
    }
    input {
      width: 2vw;
    }
  }
  .container-galery,
  .avis-flex {
    flex-direction: row;
    justify-content: center;
  }
  .galeries {
    padding: 0 2% 0 2%;
  }
  .galeries-img {
    width: 20vw;
  }

  .people {
    width: 25vw;
  }

  .group {
    flex-direction: column;
  }

  button {
    margin: 1%;
    padding: 1%;
  }

  .navigation-footer {
    li {
      width: auto;
      margin: 0 1% 0 1%;
    }
  }
  #map-container {
    margin-top: 5%;
  }
  .footer {
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "hour map"
      "hour map"
      "nav nav"
      "contact contact";
    gap: 20px;
  }
}
