@import "./config/config";
@import "./selector/selector";

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  font-size: 16px;
}
h1,
thead {
  font-family: $font1;
  padding: 2%;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
th {
  width: 100%;
}
p,
a,
tbody,
label {
  font-family: $font2;
  font-size: 2em;
}
ul {
  height: 40vh;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
li {
  display: flex;
  justify-content: center;
  width: 100vw;
}

a {
  color: white;
  outline: none;
  font-weight: 500;
  text-decoration: none;
  :hover {
    -webkit-animation: 0.2s border 1 both;
    animation: 0.2s border 1 both;
  }
}
button {
  width: 30vw;
  margin-top: 5%;
  padding: 2%;
  background-color: $color2;
  color: white;
  font-size: 2em;
  border: none;
  border-radius: 25px;
  text-shadow: 3px 2px 8px $color1;
  &:hover {
    cursor: pointer;
  }
}
nav {
  ul {
    border-radius: 0 0 25% 25%;
    background-color: $color3;
  }
}
.hour {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
// homepage
.container {
  width: 100vw;
  min-height: 40vh;
  padding-top: 10vh;
}
.connect {
  display: flex;
  justify-content: center;
  padding: 2% 0 2% 0;
  a {
    color: $color4;
    border-bottom: 1px solid $color2;
  }
}
.image-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  background-image: url("/public/img/restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    width: 70%;
    height: 30%;
    color: white;
    font-size: 8em;
  }
}

.galeries {
  display: flex;
  justify-content: center;
}
.galeries-img {
  padding: 1%;
  width: 50vw;
  height: auto;
}

//navbar
.navbar {
  display: flex;
  position: fixed;
  background: white;
  width: 100vw;
  height: 10vh;
  z-index: 5;
}
.nav_menu {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  label {
    width: 10vw;
  }
}

.nav_label {
  display: flex;
  height: 10vh;
  padding-right: 5vw;
  cursor: pointer;
  img {
    width: 70%;
    border-radius: 25%;
    margin: auto;
    background-color: $color4;
    &:focus,
    &:hover {
      animation: wobble 2s;
    }

    @keyframes wobble {
      20% {
        transform: rotate(45deg);
      }
      40% {
        transform: rotate(-45deg);
      }
      60% {
        transform: rotate(45deg);
      }
      80% {
        transform: rotate(-45deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}

.logo {
  width: 40vw;
  img {
    padding-top: 2vh;
    padding-left: 5%;
    height: 7vh;
  }
}

#menu_toggle {
  display: none;
}

.navigation {
  border-radius: 0 0 25% 25%;
  display: flex;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
}

.navigation_none {
  display: none;
}

//footer

.footer {
  min-height: 50vh;
  display: flex;
  background-color: $color3;
}

form {
  width: 100vw;
  padding: 5% 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
.selectAllergys {
  min-height: 2vh;
  width: 80vw;
  cursor: pointer;
  border: 2px solid $color1;
  border-radius: 5px;
  padding: 1% 0 1% 0;
}

.form-group {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  label {
    width: 80vw;
    margin: 1% 0 1% 0;
  }
}
.form-checkbox {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  label {
    width: 70vw;
    margin: 1% 0 1% 0;
  }
  input {
    width: 10vw;
    margin: 1% 0 1% 0;
  }
}
