<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue au Quai Antique
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/times-new-roman"/>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pinyon+Script"/>
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


		<body>
			{% include 'base/nav.html.twig' %}
			{% block body %}{% endblock %}
			{% include 'base/footer.html.twig' %}

		</body>
		{% block javascripts %}

			{{ encore_entry_script_tags('app') }}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
			<script>
				$(function () {
$('.selectAllergys').select2({});
})
jQuery(document).ready(function () {
$('.js-datepicker').datepicker();
});
			</script>

		{% endblock %}
	</head>
</html>
